<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ollie's Lab</title>
        <meta name="website for Ollie Branch and their adventures" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
        <link rel=stylesheet href=https://unpkg.com/missing.css@1.2.0>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
        <style>
         :root {
             font-family: "Acme", sans-serif;
             font-weight: 400;
             font-style: normal;
             /* I have to do some of this cause Patrick Hand is unreadable
             /  otherwise */
             letter-spacing: 1px;
             line-height: 105%;
             font-size: 24px;
         }
        </style>
        <!-- Place favicon.ico in the root directory -->
    </head>
    <body hx-get="index.html" hx-target="#content" hx-trigger="load delay:100ms" hx-swap="innerHTML">
        <!--[if lt IE 8]>
            <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve
            your experience.
            </p>
        <![endif]-->
        <header class="navbar width:100%">
            <nav aria-label="site-sections">
                <ul role="list" class="flex-row flex-wrap:wrap">
                    <li>
                        <strong>
                            <button
                                hx-get="/hypertext/index.html"
                                hx-target="#content"
                                hx-swap="innerHTML"
                                hx-trigger="click"
                                hx-replace-url="true">
                                Home
                            </button>
                        </strong>
                    </li>
                    <li>
                        <strong>
                        <button
                            hx-get="/hypertext/lab-reports/reports-index.html"
                            hx-target="#content"
                            hx-swap="innerHTML"
                            hx-trigger="click"
                            hx-replace-url="true">
                            "Lab Reports"
                        </button>
                        </strong>
                    </li>
                        <strong>
                        <button
                            hx-get="/hypertext/projects/projects-index.html"
                            hx-target="#content"
                            hx-swap="innerHTML"
                            hx-trigger="click"
                            hx-replace-url="true">
                            Projects
                        </button>
                        </strong>
                    <li>
                        <strong>
                        <button
                            hx-get="/hypertext/tunes-town.html"
                            hx-target="#content"
                            hx-swap="innerHTML"
                            hx-trigger="click"
                            hx-replace-url="true">
                            Tunes Town
                        </button>
                        </strong>
                    </li>
                    <li>
                        <strong>
                        <button
                            hx-get="/hypertext/gallery.html"
                            hx-target="#content"
                            hx-swap="innerHTML"
                            hx-trigger="click"
                            hx-replace-url="true">
                            Gallery
                        </button>
                        </strong>
                    </li>
                    <li>
                        <strong>
                        <button
                            hx-get="/hypertext/museum.html"
                            hx-target="#content"
                            hx-swap="innerHTML"
                            hx-trigger="click"
                            hx-replace-url="true">
                            Museum
                        </button>
                        </strong>
                    </li>
                    <li>
                        <strong>
                        <button
                            hx-get="/hypertext/adventure-map.html"
                            hx-target="#content"
                            hx-swap="innerHTML"
                            hx-trigger="click"
                            hx-replace-url="true">
                            Adventure Map (cool sites I've found)
                        </button>
                        </strong>
                    </li>
                </ul>
            </nav>
        </header>
        <main id="content" class="width:100%"></main>
        <footer>
        </footer>
    </body>
</html>
